# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Environment
.env
.venv/
venv/
env/

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
*.log
staticfiles/
media/
